.modules {
  margin-bottom: 20px;
  padding: 6px 0;

  & + .modules {
    border-top: 1px solid #ccc;
  }

  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    row-gap: 6px;

    .item__module {
      flex: 1;
      flex-basis: 50%;
      display: flex;
      align-items: center;
      gap: 6px;
    }
  }
}

.module__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 6px 0;
}

.role__page {
  .role__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  .list__role {
    background-color: #fff;
    border-radius: 8px;
    padding: 10px 20px;

    &__heading {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 0;

      .search-table {
        width: 100%;
        max-width: 350px;
        outline: none;
        padding: 4px 10px;
        border: 1px solid #ccc;
      }
    }
    &__footer {
      display: flex;
      justify-content: flex-end;
      .pagination {
        --bs-pagination-font-size: 1.7rem;
      }
    }
  }
}
